/*
color variables
*/
:root{
  --main-text-color: #0c0c0d;
  --sec-text-color:#737373;
  --main-bg-color: #ffffff;
  --grey-bg-color: #ededf0;
  --main-hl-color: #45a1ff;
  --sec-hl-color: #00c8d7;
}


/*
general style
*/
html {
  font-family: sans-serif;
  font-size: 10px;
  overflow: hidden;
}
body {
  width: 400px;
  height: 420px;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 1.6rem;
}
main{
  padding: 4px 4px;
  /* 420 - 15(footer height) - 2*4 (top&bottom padding) */
  height: calc(405px - 8px);
  display: flex;
  flex-direction: column;
}


/* auto form style*/

form{
  font-size: 1.3rem;

}
form > div {
  display: flex;
  
  /* background: lightblue; */
  
}
form > div:nth-child(2){
  margin-top: 4px;
}
form div.wrapper{
  display: flex;
  width: 100%;  
  margin-left: 8px;
}
form label {
  /* background: lightsalmon; */
  cursor: pointer;
  line-height: 1.5;
  display: flex;
}
form p{
  margin: 0;
  line-height: 1.5;
}
#start{
  /* width: 100%; */
  flex:1;
  margin-left: 8px;
  padding-left: 4px;
  background: var(--grey-bg-color);
  color: var(--sec-text-color);
}
.wrapper > p:nth-child(1){
  width: 100px; 
  flex: 1;
  text-align: right;
  margin-right: 4px;
}
#include {
  flex: 5;  
  padding-left: 2px;
  background-color: var(--grey-bg-color);
  color: var(--sec-text-color);
  /* background: pink; */
}
#ignore {
  flex:5;
  padding-left: 2px;
  background-color: var(--grey-bg-color);
  color: var(--sec-text-color);
  /* background: purple; */
}

#ending-gear {
  /* background-color: khaki; */
  background-image:  url("./assets/settings-36px.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  margin: 2px;
  margin-left: 18px;
  margin-right: 12px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}


/* narrow top margin of horizonal bar */
hr {
  margin-top: 4px;
}


/* 
very small footer style 
*/

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--sec-text-color);
}
footer  div.flex-container{
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
  color: #F9F9FA;
  font-size: 1rem;
  font-family: monospace;
  line-height: 1.5;
}


/* 
found tabs style 
*/

#found-tabs {
  margin: 0;
  padding: 0;
  overflow: auto;
}
#found-tabs ol{
  margin: 0;
  padding: 0;
  overflow: visible;
  font-size: 1.3rem;
}
#found-tabs li {
  margin: 5px 0; 
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  line-height: 1.6;
}
#found-tabs li.active{
  background: rgb(162, 227, 255);
}


/* 
ending settings popup style 
*/

#settings-popup.visible{
  display:flex;
}
#settings-popup {
  position: absolute;
  top:0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(80, 80, 80, 0.8);
  justify-content: center;
  align-items: center;

}
#settings-form{
  z-index: 1500;
  width: 80%; 
  background-color: var(--main-bg-color);
  padding: 8px;
}

#settings-form{
  font-size: 1.3rem;
}
#settings-form > *{
  margin-bottom: 4px;
  line-height: 1.5;
}
div.separators{
  display: flex;
  justify-content: left;
  align-items: left

}
div.separators span:nth-child(1){
  width: 100px;
  text-align: right;
  margin-right: 10px;
}
div.separators label{
  margin-right: 10px;
}
div.separators label input {
  margin: 0;
  vertical-align:text-bottom
}
div.separators label span {
  font-size: 1.4rem;
}


div.keyword span:nth-child(1){
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

div.keyword label{
  margin-right: 10px;
}
div.keyword label input {
  margin: 0;
  vertical-align:text-bottom
}

div.keyword #keyword-text{
  width: 120px;
  background:white;
  border: thin solid #0c0c0d;
  border-radius: 5%;
  color: var(--main-text-color);
}

div.buttons {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
div.buttons button{
  background: var(--main-hl-color);
  cursor: pointer;
  color: #ffffff;
  line-height: 2.5rem;
  border: none;
  border-radius: 10%;
  padding: 0 10px;
  margin: 0 20px;
}